basePath: /
definitions:
  gorm.DeletedAt:
    properties:
      time:
        type: string
      valid:
        description: Valid is true if Time is not NULL
        type: boolean
    type: object
  models.Member:
    properties:
      createdAt:
        type: string
      deletedAt:
        $ref: '#/definitions/gorm.DeletedAt'
      id:
        type: integer
      member_address:
        type: string
      member_contact:
        type: string
      member_email:
        type: string
      member_gender:
        type: string
      member_name:
        type: string
      member_nik:
        type: integer
      member_package:
        type: string
      member_wight:
        type: integer
      trainer:
        $ref: '#/definitions/models.Trainer'
      trainer_id:
        type: integer
      updatedAt:
        type: string
    type: object
  models.MemberBody:
    properties:
      member_address:
        type: string
      member_contact:
        type: string
      member_email:
        type: string
      member_gender:
        type: string
      member_name:
        type: string
      member_nik:
        type: integer
      member_package:
        type: string
      member_wight:
        type: integer
      trainer_id:
        type: integer
    type: object
  models.Trainer:
    properties:
      createdAt:
        type: string
      deletedAt:
        $ref: '#/definitions/gorm.DeletedAt'
      id:
        type: integer
      members:
        items:
          $ref: '#/definitions/models.Member'
        type: array
      trainer_address:
        type: string
      trainer_birthday:
        type: string
      trainer_contact:
        type: string
      trainer_email:
        type: string
      trainer_gender:
        type: string
      trainer_name:
        type: string
      trainer_nik:
        type: integer
      updatedAt:
        type: string
    type: object
  models.TrainerBody:
    properties:
      trainer_address:
        type: string
      trainer_birthday:
        type: string
      trainer_contact:
        type: string
      trainer_email:
        type: string
      trainer_gender:
        type: string
      trainer_name:
        type: string
      trainer_nik:
        type: integer
    type: object
host: localhost:8080
info:
  contact:
    email: akram.firman@gmail.com
    name: API Support
  description: This is a sample swagger for Jagona Gym API
  title: Jagona Gym API
  version: "1.0"
paths:
  /api/member:
    post:
      consumes:
      - application/json
      description: Creating new member data
      parameters:
      - description: Data member
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.MemberBody'
      produces:
      - application/json
      responses:
        "200":
          description: Success create member
          schema:
            items:
              $ref: '#/definitions/models.Member'
            type: array
        "400":
          description: ok
          schema:
            type: string
        "404":
          description: ok
          schema:
            type: string
        "500":
          description: ok
          schema:
            type: string
      summary: Create Member
      tags:
      - Member
  /api/trainer:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Trainer'
            type: array
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Get all trainers
      tags:
      - Trainer
    post:
      consumes:
      - application/json
      description: Creating new Trainer data
      parameters:
      - description: Data trainer
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.TrainerBody'
      produces:
      - application/json
      responses:
        "200":
          description: Success create trainer
          schema:
            $ref: '#/definitions/models.Trainer'
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Create Trainer
      tags:
      - Trainer
  /api/trainer/{id}:
    delete:
      consumes:
      - application/json
      description: Delete Trainer data by id
      parameters:
      - description: Trainer ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Success Delete Trainer Data
          schema:
            type: string
        "404":
          description: Data not Found!
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Delete Trainer
      tags:
      - Trainer
    get:
      consumes:
      - application/json
      description: Get a single Trainer data by ID
      parameters:
      - description: Trainer ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Trainer'
        "404":
          description: Trainer not found
          schema:
            type: string
        "500":
          description: Failed to get trainer
          schema:
            type: string
      summary: Get a single Trainer
      tags:
      - Trainer
    put:
      consumes:
      - application/json
      description: Update a specific Trainer data
      parameters:
      - description: Trainer ID
        in: path
        name: id
        required: true
        type: integer
      - description: Update Trainer data
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.TrainerBody'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Trainer'
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Trainer not found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Update Trainer
      tags:
      - Trainer
swagger: "2.0"
